
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
/*used in base.html for header*/
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  font-family: Fancy;
  font-size: 20px;
  padding: 14px 25px;
  text-decoration: none;
}

li a:hover {

  background-color: #B7DEEE;

}
.WeCode{

  padding-bottom: 16px;
  width: 300px;
  height: 44px;

}

.register{

  margin-left: 25%;
  width: 30%;
  height: 10px;

}
.homepage {
  margin-left: 33%;
  font-family: Courier

}
.table{
  width: 100px;
}



.homepic{
 
}

.form{
  margin-right: 20%;
  width: 85%;
  height:20px;
  border-radius: 40px;

}

#bg-image {
  position: fixed;
  top: 0;
  width:100%;
  opacity:0.5;
  z-index: -1;
}



.background {
   /* The image used */
    background-image: url("../images/back2.png");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    filter: alpha(opacity=50);



}

#pm{
  position:absolute;
  margin-top:240px; 
  margin-left:1000px;
  width:300px; 
  height:192px;
}
#pwi{
  position:absolute; 
  margin-top:20px;
  margin-left:1060px; 
  width:300px; 
  height:150px
}
#pg 
{
  position:absolute; 
  margin-top:40px; 
  margin-left:320px; 
  width:300px; 
  height:190px;
}
#cfp
{
  position:absolute; 
  margin-top:240px; 
  margin-left:320px;
  width:650px; 
  height:100px;
}
#wb
{
  position:absolute; 
  margin-top:40px; 
  margin-left:640px; 
  width:300px; 
  height:190px;
}
#sp 
{
  position:absolute; 
  margin-top:40px; 
  margin-left:970px; 
  width:300px; 
  height:190px;
}
#y1w
{
  position:absolute; 
  margin-top:40px; 
  margin-left:10px;
  width:300px; 
  height:192px;
}

#fp
{
  position:absolute; 
  margin-top:240px; 
  margin-left:10px; 
  width:300px; 
  height:192px
}
#wci
{
  color: black; 
}
.video
{
  margin-top: 350px;
  margin-left: 25%;
  width: 650px;
  height: 300px;
}

.best{
  margin-left: 30%;
  width: 39%;
  border-radius:12px;
  border-color: aqua;
  height: 30px;
  text-align: center;
}
.feedx{
  margin-top: 1%;
  background-color: lightgray;
  margin-left: 22%;
  margin-right: 22%;
  border-radius: 20px;

}



.cv2{
  margin-top: 40%;
  margin-left: 36.5%;
  width: 74%;
  height: 85%;
}


.registerbt{
  margin-left: 37%;
  height: 32px;
  width: 27%;
  border-color: aqua;
  border-radius: 15px;
  margin-bottom: 10px;
}

.photos{
  height: 290px;
  border-radius: 15px;
  border-color:aqua;
  width: 210px;
  margin-bottom: 60px;
}

.hometxt{
  margin-left: 225px;
  margin-top: -275px;
  font-family: inherit;
  font-size: 23px;
}
.show{
  background-color: rgba(51, 51, 51, 0);

}
.nametag{
  margin-left: 71px;
  display: inline-block;
}