
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  font-family: Fancy;
  font-size: 20px;
  padding: 14px 25px;
  text-decoration: none;
}

li a:hover {

  background-color: #B7DEEE;

}
.WeCode{

  padding-bottom: 16px;
  width: 300px;
  height: 44px;

}

.register{
  background-color: lightblue;
  margin-left: 15%;
  width: 40%;
  height: 10px;

}
.homepage {
  margin-left: 26%;
  font-family: Courier

}
.table{
  width: 100px;
}

.best {
  margin-left: 21%;
  width: 55%;
  border-radius: 8px;
  border-color: aqua;
  height: 30px;
  text-align: center;

}
.forms{
  background-color: lightgray;
  border-radius: 5px;
  margin-left: 34%;
  margin-right: 33%;


}
.background {
  background-color: #B7DEEE
}
.feed{
  border-radius: 5px;
  border-color: black;
  margin-top: 1%;
}
.post{
  border: 5px solid gray;
}
.feedx{
  margin-top: 1%;
  background-color: lightgray;
  margin-left: 22%;
  margin-right: 22%;
}
.registerbt{
  margin-left: 35%;
  height: 42px;
  width: 29%;
  border-color: aqua;
  background-clip: content-box;
  border-radius: 15px;
}
.post2{
  background-color: lightgray;
  margin-right: 30%;
  margin-left:30%;
}