{% extends "base.html" %}

{% block head %}
	<title>We Code Portal</title>
{% endblock %}

{% block body %}	
	<table>
		<tr>
			<td><h2>firstname</h2></td>
			<td><h2>lastname</h2></td>
			<td><h2>username</h2></td>
			<td><h2>email</h2></td>
			<td><h2>hometown</h2></td>
			<td><h2>link</h2></td>
		</tr>

			{% for person in users %}
		<tr>
			<td class="usershow">{{person.firstname}} </td>
			<td class="usershow"> {{person.lastname}} </td>
			<td class="usershow">{{person.username}} </td>
			<td class="usershow">{{person.email}}</td>
			<td class="usershow">{{person.hometown}}</td>
			<td class="usershow">{{person.link}}</td>

		</tr>
			{% endfor %}



	</table>
{% endblock %}
