{% extends "base.html" %}

{% block head %}
	<title>We Code Portal</title>
{% endblock %}

{% block body %}	
	<table>
		<tr>
			<td><h2>name</h2></td>
			<!-- <td>lastname</td>
			<td>username</td> -->
			<td><h2>email</h2></td>
			<td><h2>message</h2></td>
			<!-- <td>hometown</td>
			<td>link</td> -->
		</tr>

			{% for person in contact %}
		<tr><h3>
			<td class="usershow">{{person.name}} </td>
			<!-- <td> {{person.lastname}} </td>
			<td>{{person.username}} </td> -->
			<td class="usershow">{{person.email}}</td>
			<td class="usershow">{{person.message}}</td>
			<!-- <td>{{person.hometown}}</td>
			<td>{{person.link}}</td> -->

		</tr></h3>
			{% endfor %}



	</table>
{% endblock %}
